In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError

In [2]:
#get variables from enviornment
db_password = os.getenv("DB_PASSWORD")
path = os.getenv("DATA_PATH")

In [3]:
#connect to the database
engine = create_engine(f"mysql+mysqlconnector://admin:{db_password}@harshil-db.cpq2yao88nij.us-east-2.rds.amazonaws.com/aivshuman")

In [4]:
#create the table

delete_query = '''
DROP TABLE IF EXISTS `ai-vs-human`;
'''

query = '''
CREATE TABLE IF NOT EXISTS `ai-vs-human` (
    `id` INT AUTO_INCREMENT PRIMARY KEY,
    `text` TEXT NOT NULL,
    `source` VARCHAR(255) NOT NULL
);
'''
con = engine.connect()
rs = con.execute(text(delete_query))
rs = con.execute(text(query))

In [5]:
#load the data in batches, preprocess, and insert into the table
chunk_size = 10000
try:
    for chunk in pd.read_csv("../human_vs_ai_data.csv", chunksize=chunk_size):
        try:
            chunk.drop(columns=['prompt_id', 'text_length'], inplace=True)
            chunk = chunk[chunk['word_count']<=500]
            chunk.drop(columns=['word_count'], inplace=True)
            chunk['source'] = chunk['source'].apply(lambda x: 0 if x == 'human' else 1)
            chunk.to_sql('ai-vs-human', con=engine, if_exists='append', index=False)
            print(f"Inserted {len(chunk)} rows")
        except Exception as e:
            print(f"Error inserting chunk: {e}")
except Exception as e:
    print(f"Error reading file: {e}")

Inserted 7705 rows
Inserted 7355 rows
Inserted 9290 rows
Inserted 9997 rows
Inserted 9997 rows
Inserted 9995 rows
Inserted 9935 rows
Inserted 4470 rows
Inserted 4885 rows
Inserted 4929 rows
Inserted 4957 rows
Inserted 4930 rows
Inserted 5002 rows
Inserted 3693 rows
Inserted 6054 rows
Inserted 6757 rows
Inserted 2419 rows
Inserted 2500 rows
Inserted 2411 rows
Inserted 2462 rows
Inserted 2446 rows
Inserted 3816 rows
Inserted 2389 rows
Inserted 2425 rows
Inserted 2465 rows
Inserted 2443 rows
Inserted 2375 rows
Inserted 2445 rows
Inserted 2442 rows
Inserted 2429 rows
Inserted 2399 rows
Inserted 2420 rows
Inserted 2427 rows
Inserted 8472 rows
Inserted 8610 rows
Inserted 8655 rows
Inserted 8691 rows
Inserted 8623 rows
Inserted 8730 rows
Inserted 8668 rows
Inserted 8673 rows
Inserted 8646 rows
Inserted 8682 rows
Inserted 8672 rows
Inserted 8722 rows
Inserted 8712 rows
Inserted 8654 rows
Inserted 8649 rows
Inserted 8687 rows
Inserted 8692 rows
Inserted 6901 rows
Inserted 7035 rows
Inserted 6263 rows
Inserted 5976 rows
Inserted 5269 rows
Inserted 8903 rows
Inserted 5191 rows
Inserted 3942 rows
Inserted 3934 rows
Inserted 4870 rows
Inserted 7527 rows
Inserted 8340 rows
Inserted 8564 rows
Inserted 8691 rows
Inserted 8594 rows
Inserted 8797 rows
Inserted 8053 rows
Inserted 8177 rows
Inserted 2070 rows
Inserted 6905 rows
Inserted 4295 rows
Inserted 8643 rows
Inserted 10000 rows
Inserted 9595 rows
Inserted 9433 rows
Inserted 9666 rows
Inserted 9979 rows
Inserted 9588 rows
Inserted 5680 rows